
<div class="conter-wrapper home-container">
	<div class="row home-row">
		<div class="col-md-4 col-lg-3">
			<div class="home-stats text-center">
				<a href="" class="hvr-wobble-horizontal"><stats icon="cloud-upload" value="88%" text="Server uptime" bgclass="info"></stats></a>
				<a href="" class="hvr-wobble-horizontal"><stats icon="heartbeat" value="94%" text="Positive feedback" bgclass="success"></stats></a>
				<a href="" class="hvr-wobble-horizontal"><stats icon="flag" value="12,351" text="Posts flagged" bgclass="danger"></stats></a>
			</div>
		</div>
		<div class="col-md-4 col-lg-6">
			<div class="home-charts-middle">
				<div class="chart-container">
					<div class="chart-comment">
						<div class="comment-header">
							53%
						</div>
						<div class="comment-comment">
							Female users
						</div>
					</div>
					<c3chart bindto-id="line-chart">
					    <chart-column column-id="Male" column-values="18,33,27,36,47,55,50,67,74,78,71,85" column-type="line"/>  
					    <chart-column column-id="Female" column-values="39,47,56,42,57,62,71,65,69,77,84, 91" column-type="line"/>  
					    <chart-legend show-legend="false"/>  
					    <chart-tooltip-show-tooltip="false"/>					   
					    <chart-colors color-pattern="#3CA2E0, #7BB77D "/>  
					    <chart-size chart-height="300" width="450" />
					</c3chart>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-3">
			<div class="home-charts-right">
				<div class="top-right-chart">
					<c3chart bindto-id="bar-chart">
					    <chart-column column-id="Users" column-values="33,27,36,47,55,37,32,39,28,21" column-type="bar"/>  
					    <chart-legend show-legend="false"/>  
					    <chart-tooltip-show-tooltip="false"/>					   
					    <chart-colors color-pattern="#d9534f"/>  
					    <chart-size chart-height="175" width="400" />
					</c3chart>					
				</div>
				<div class="bottom-right-chart">
					<div class="top-left-chart">
						<c3chart bindto-id="pie-chart">
						    <chart-column column-id="data-1" column-values="10" column-type="pie"/>    
			                <chart-column column-id="data-2" column-values="30" column-type="pie"/>      
						    <chart-column column-id="data-3" column-values="5" column-type="pie"/>  					    
						    <chart-legend show-legend="false"/> 
						    <chart-tooltip-show-tooltip="false"/>	 
						    <chart-colors color-pattern="#5CB85C,#3CA2E0,#f0ad4e"/>  
						    <chart-size chart-height="146" chart-width="150"/>					    
						</c3chart>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row home-row">
		<div class="col-lg-8 col-md-6">
			<div class="map-container" ng-init="load()">
				<div id="world-map" style="width: 100%; height: 350px"></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<todolist></todolist>
		</div>
	</div>
</div>
