<pageheader pagename="Product" subtitle="Extras"></pageheader>
<div class="conter-wrapper">
	<div class="row" ng-controller="productControl">
		<div class="col-sm-4" ng-repeat="product in products">
			<div class="panel panel-default">
				<div class="panel-body no-padding">
					<div class="img-height" style="background-image: url({{product.url}});">
						<!-- <img class="img-responsive" src="" alt=""> -->
					</div>
					<div class="product-desc">
						<div class="truncate header">{{product.head}}</div>
						<div class="truncate desc text-center">{{product.desc}}</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<button type="button" class="btn btn-primary btn-rounded pull-left"><i class="fa fa-shopping-cart"></i> Comprar</button>
					<div class="pull-right right-btn-wrap">
						<button type="button" class="btn btn-success btn-sm"><i class="fa fa-shopping-cart"></i> 2</button>
						<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-heart"></i> 2</button>
						<button type="button" class="btn btn-warning btn-sm">Ahorra Q.31.00</button>
					</div>
					
				</div>
			</div>
		</div>		
	</div>
</div>